body {
    background-image: linear-gradient(to bottom, #879D91 15%, #879D91 5%, #ECE1E0 50%);
    background-attachment:fixed;
    background-repeat: no-repeat;
    font-family: 'Manrope', sans-serif;
    font-family: 'Noto Sans HK', sans-serif;
}

.about {
    margin-left: 10px;
    font-size: 2.8em;
    text-transform: uppercase;
    color: #ECE1E0;
}

.line {
    margin-left: 0px;
    height: 2px;
    background-color: #ECE1E0;
    border-radius: 2010px;
    width: 95%;
  }

  .bioText {
      color: #516C8C;
      font-size: 1.1em;
  }

  .skills li {
	display:inline-block;
}
.skills li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#999;
	color:rgba(0,0,0,0.5);
	font-size:11px;
}
