.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 3em;
}
.photo{
    margin:0 auto;
    margin-top: 1%;
    background-image: url(/images/Professional\ Pic.png);
    width: 25em;
    height: 25em;
    background-size: 28em 28em;
    border-radius: 50%;
    box-shadow: 0 0 40px #ECE1E0, 5px 5px 15px 0 #879D91; inset, -5px -5px 15px 0 #879D91; inset; 
    padding: 1em;
}
