body{
    margin: 0px;
    background-image: linear-gradient(to bottom, #879D91 42%, #879D91 5%, #ECE1E0 50%);
    background-attachment:fixed;
    background-repeat: no-repeat;
    font-family: 'Manrope', sans-serif;
    font-family: 'Noto Sans HK', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/* Name & Line */
.name {
    margin-left: 10px;
    font-size: 2.8em;
    text-transform: uppercase;
    color: #ECE1E0;
}

.line {
    margin-left: 0px;
    height: 2px;
    background-color: #ECE1E0;
    border-radius: 2010px;
    width: 95%;
  }